@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  @include full-height;
}

body {
  margin: 20px;
  font: $base-text-size / 1 $base-font-family;
}

// .flex {
//   display: flex;
//   flex-wrap: wrap;
//   // margin: 40px;
//   // padding: 30px;
// }
//
// .flex .flex1 {
//   padding: 50px;
// }

.button {
  border: 1px solid black;
  margin: 10px;
}

.button:active,
.button:focus {
  outline: none;
}

.button:active {
  background-color: white;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
  transform: translateX(4px);
}
